body {
    color: #ededed;
    padding: 0.25rem;
    min-height: 100dvh;
    font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji;
    font-size: 1rem;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: #161616;
}

a {
    color: #ededed;
    display: inline-block;
}

main,
footer {
    margin-top: 1rem;
    width: 85%;
}

main {
    flex: 1;
}

main > ul > li {
    text-underline-offset: 0.2rem;
    margin: 0.5rem;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form > button {
    width: 10vw;
    min-width: fit-content;
    align-self: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 2rem;
    border-radius: 1rem;
    color: white;
    background-color: #161616;
    border: 2px solid #ededed;
}

#episodes-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
}

.episode-div {
    width: 90%;
    height: 10%;
    margin: 0.4rem;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    border: 2px solid white;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    margin: 0.2rem;
}

footer a {
    color: #95c5fe;
}

@media screen and (min-width: 48rem) {
    main,
    footer {
        width: 82%;
    }
    body {
        padding: 0.3rem;
    }
}
@media screen and (min-width: 64rem) {
    main,
    footer {
        width: 62%;
    }
    body {
        padding: 0.5rem;
    }
}
@media screen and (min-width: 80rem) {
    main,
    footer {
        width: 60%;
    }
    body {
        padding: 1.25rem;
    }
    #episodes-order {
        flex-direction: row;
        padding: 1rem 2rem 1rem 2rem;
        min-height: 50vh;
    }
    .episode-div {
        width: 10%;
        height: 25rem;
    }
    .toggler > p {
        margin-left: 2rem;
    }
}

@media screen and (prefers-color-scheme: light) {
    body {
        color: initial;
    }
    footer a,
    a {
        color: #161616;
    }
    form > button {
        border-color: #161616;
        background-color: #ededed;
        color: black;
    }
    .episode-div {
        border-color: #161616;
    }
}
